/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Universal selector that applies to all elements by default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General style rule for body element */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #c2ee7c;
    font-family: "Raleway", sans-serif;
}
header {
    overflow: auto; /* Add overflow:auto to the header */
}

/* #logo-box {
    float: left; /* Float the container to the left */
/* } */

#logo {
    text-decoration: none;
}

/* #logo img {
    width: 50px;
    height: auto;
} */

h1 {
    float: left;
    width: calc(100% - 50px);
    margin: 0;
    color:#808000;
}
