/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Universal selector that applies to all elements by default */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* General style rule for body element */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #740505;
    font-family: 'Alegreya', sans-serif;
}